<p id="notice"><%= notice %></p>

<div class="row">
  <h5 style="color: white; text-align: center">Add categories for content</h5>
  <div class="col s6 offset-s3">
    <%= form_tag("/add_content_category", method: "post") do %>
      <%= label_tag(:category, "Category") %>
      <%= text_field_tag(:category) %>
      <%= submit_tag("Add category") %>
    <% end %>
  </div>
</div>

<br><br><br>
<div class="row">

  <h1>Listing Contents</h1>
  <% @contents.each do |content| %>
    <div class="col s3" style="display: block; text-align: center">
      <img src="<%= content.url %>" style="width: 100%">
      <p style="text-align: center"><%= content.id %></p>
      <%= link_to 'Show', content %>
      <%= link_to 'Destroy', content, method: :delete %>
    </div>
  <% end %>

</div>

<br>

<%= link_to 'New Content', new_content_path %>


