<div class="row">
  <%= form_for(@user) do |f| %>
    <div class="row">
      <div class="col l5 offset-l1 s10 offset-s1">
        <%= f.label :first_name, class: "label" %><br>
        <%= f.text_field :first_name, placeholder: "First Name"  %>
      </div>
      <div class="col l5 s10 offset-s1">
        <%= f.label :last_name, class: "label" %><br>
        <%= f.text_field :last_name, placeholder: "Last Name"  %>
      </div>
      <div class="col l1 s1"></div>
    </div>
    <div class="row">
      <div class="col l5 offset-l1 s10 offset-s1">
        <%= f.label :email, class: "label" %><br>
        <%= f.text_field :email, placeholder: "name@example.com"  %>
      </div>
      <div class="col l5 s10 offset-s1">
        <%= f.label :phone_number, class: "label" %><br>
        <%= f.text_field :phone_number, placeholder: "+1415XXXXXXX" %>
      </div>
      <div class="col l1 s1"></div>
    </div>
    <div class="row">
      <div class="col l5 offset-l1 s10 offset-s1">
        <%= f.label :password, class: "label" %><br>
        <%= f.password_field :password %>
      </div>
      <div class="col l5 s10 offset-s1">
        <%= f.label :password_confirmation, class: "label" %><br>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="col l1 s1"></div>
    </div>
    <div class="row">
      <div class="col l4 s12">
        <b>Start Time</b> <br><%= select_tag("user[boozt_end]", options_for_select(["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"]), {include_blank: '--Select an hour--'}) %>
      </div>
      <div class="col l4 s12">
          <b>End Time</b> <br><%= select_tag("user[boozt_start]", options_for_select(["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00"]), {include_blank: '--Select an hour--'}) %>
      </div>
      <div class="col l4 s12">
          <b>Boozts per day</b> <br><%= select_tag("user[boozts_per_frequency]", options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]), {include_blank: '--Select amount of boozts--'}) %>
      </div>
    </div>
    <div class="actions center">
      <button type="submit" class="button btn-large" style="line-height: 15px">Submit&nbsp&nbsp&nbsp<i class="material-icons">send</i></button>
    </div>
  <% end %>
</div>