
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <img class="home-logo" src="https://s31.postimg.org/9bh0ctn63/boozt_logo_orange_white_back_RESIZED.png">
          <h5 class="header adv-copy">Brighten up the world one boozt at a time</h5>
          <%= link_to "Join Us", new_user_path, method: :get, class: "waves-effect waves-light btn-large button" %>
        </div>


      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>


  <div class="stripe" >
      <!--   Icon Section   -->
      <div class="row center"><h1 class="home-title">HOW IT WORKS</h1></div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons dark">assignment_turned_in</i></h2>
            <h5 class="center how-titles">Sign Up</h5>

            <p class="light how-p-tag">Join our community of boozted people</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons dark">settings</i></h2>
            <h5 class="center how-titles">Personalize</h5>

            <p class="light how-p-tag">Choose how many boozts you want to receive every day</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons dark">mood</i></h2>
            <h5 class="center how-titles">Enjoy</h5>

            <p class="light how-p-tag">Receive boozts randomly during the day to lift your spirit when you least expect it!</p>
          </div>
        </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper animated-image-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <img src="http://ontariospca.ca/blog/wp-content/themes/ontarioblog/images/bg-dog-image.png" class="dog">
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>

  <div class="stripe">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h1 class="home-title" style="color: #F05D23">WHY BOOZT?</h1></br>
          <div class="row">
            <div class="col s6 center">
              <p class="left-align light why-p-tag"><i class="material-icons icons">flash_on</i>&nbsp&nbsp&nbsp&nbsp&nbsp Instant mood boozters!!!</p>
              <p class="left-align light why-p-tag"><i class="material-icons icons">local_activity</i>&nbsp&nbsp&nbsp&nbsp&nbsp The best gift comes when you least expect it</p>
            </div>
            <div class="col s6 center">
              <p class="left-align light why-p-tag"><i class="material-icons icons">terrain</i>&nbsp&nbsp&nbsp&nbsp&nbsp Take a break, relax and enjoy life</p>
              <p class="left-align light why-p-tag"><i class="material-icons icons">people</i>&nbsp&nbsp&nbsp&nbsp&nbsp Join a community of boozted people that want a happier world</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row center">
      <a class="modal-trigger waves-effect waves-light btn-large button" href="#modal-instant">Get an Instant Boozt</a>
    </div>
  </div>


 <!-- Modal Structure -->
  <div id="modal-instant" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="container">
        <h1 class="center">What does my Boozt look like?</h1>
        <%= form_tag("/instant_boozt", method: "post") do %>
          <%= label_tag(:first_name, "First Name") %>
          <%= text_field_tag(:first_name) %>
          <!-- <%= label_tag(:phone_number, "Phone Number")%>
          <%= text_field_tag(:phone_number, options={placeholder: "Enter your phone number with area code (10 digits)"})%> -->
          <label for="phone_number">Phone Number</label>
          <input id="phone_number" name="phone_number" placeholder="Enter your phone number including area code (10 digits)" type="text" />
          <!-- <%= label_tag(:email, "Email") %>
          <%= text_field_tag(:email) %> -->
          <%= submit_tag("Get my boozt") %>
        <% end %>
        <%= image_tag('iphone-example.png', options={class: "iphone-image center"}) %>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper animated-image-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <img src="https://s-media-cache-ak0.pinimg.com/originals/be/a6/ee/bea6eed3d824d84d29bc69a65fee935f.jpg" class="horse">
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag('background.png') %></div>
  </div>

<script>
  sr.reveal('.dog', { duration: 1000, origin: 'right', mobile: true });
  sr.reveal('.horse', { duration: 1000, origin: 'left', mobile: true });
</script>