 
<nav class="my-nav-bar">
  <div class="nav-wrapper"> 
    <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down menu-titles">
      <li><a href="/about">ABOUT</a></li>
      <% if current_user %>
        <li><%= link_to 'PROFILE', user_path(current_user), method: :get %></li>
        <li><%= link_to "SIGN OUT", sessions_path, method: :delete%></li>
      <% else %>
        <li><%= link_to "SIGN IN", sign_in_path, method: :get %></li>
        <li><%= link_to "SIGN UP", new_user_path, method: :get %></li>
      <% end %>
    </ul>
    <ul id="mobile-demo" class="side-nav">
      <% if current_user %>
      <li><%= link_to 'Profile', user_path(current_user), method: :get %></li>
      <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", sign_in_path, method: :get %></li>
      <li><%= link_to "Sign up", new_user_path, method: :get %></li>
    <% end %>
    </ul>
  </div>
</nav>